
.button {
  height: 100px;
  width: 100px;
  opacity: 0.75;

  margin: 10px;
  padding: 15px 25px;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;

  box-sizing: border-box;
}

.button:focus {
  outline: 0;
}

.hov:active {
  background-color: #999;
  box-shadow: 0 5px #777;
  transform: translateY(4px);
}

.hov:hover {
  cursor: pointer;
  opacity: 0.5;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
}

.flash {

  opacity: 1;
  box-shadow: 0 9px gold;
}

